.main-heading h1{
  color: var(--primaryColor);
}
.main-heading p {
  font-size: 1.5rem;
}
.btn-open{
  font-size: 2rem !important;
  background-color: var(--primaryColor);
  border: 1px solid transparent;
  color: white;
}
.btn-open:hover{
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background-color: transparent;
}
 td {
  border: 1px solid var(--primaryColor);
  font-size: 1.5rem;
}
table{
  margin: 2rem auto;
}
.video-container video{
  background-color: black;
}
.btn-container{
  justify-content: space-evenly;
}
.table-id-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: none;
  border-right: none;
}
.table-id-data img{
  width: 1.2vw;
  cursor: pointer;
}

@media only screen and (min-width: 701px) {
  .video-container{
    flex-wrap: wrap;
  }
  .video-container video{
    height: 480px;
    width: 540px;
  }
}

@media only screen and (max-width: 700px) {
  .video-container{
    flex-direction: column;
  }
  .btn-container{
    flex-direction: column;
  }
  .btn-container .btn-open{
    margin: 1rem 0;
  }
}