.main-heading h1{
  color: var(--primaryColor);
}
.main-heading p {
  font-size: 1.5rem;
}
.btn-open{
  font-size: 2rem !important;
  background-color: var(--primaryColor);
  border: 1px solid transparent;
  color: white;
}
.btn-open:hover{
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background-color: transparent;
}
table, th, td {
  border: 1px solid var(--primaryColor);
  font-size: 1.5rem;
}
table{
  margin: 2rem auto;
}
.video-container video{
  background-color: black;
  height: 480px;
  width: 640px;
}